MONGODB_URI=mongodb+srv://lastfm-user:<db_password>@lastfmbck.hdm46fy.mongodb.net/lastfm-widget?appName=LastFMBCK

LASTFM_API_KEY=your_lastfm_api_key
LASTFM_SHARED_SECRET=your_lastfm_shared_secret
LASTFM_REDIRECT_URI=http://localhost:3000/api/auth/lastfm/callback
